$small: 300px;
$medium: 768px;

* {
}

html {
  height: auto;
}

[data-animation='title'],
[data-animation='description'] {
  font-kerning: none;
}

.line_wrapper {
  overflow: hidden;
}

.main {
  opacity: 0;
}

[data-animation='slideup'] {
  opacity: 0;
}

// [da='t'],
// [da='d'],
// [da='s'],
// [da='s'] {
//   opacity: 0;
// }

// .loaded {
//   [da='t'],
//   [da='d'],
//   [da='s'],
//   [da='s'] {
//     opacity: 1;
//   }
// }

.title_7-2 {
  * {
    transition: all 0.4s ease;
  }
  .lock_badge {
    background: transparent;
    padding-left: 0rem;
    .lock_badge_media {
      transform: translateY(-50%) scale(0);
    }
  }

  .lock_badge_wrapper {
    margin-right: -8rem;
  }
}
.title_7-2.visible {
  .lock_badge {
    background: rgba(204, 204, 204, 0.2);
    padding-left: 8rem;

    .lock_badge_media {
      transform: translateY(-50%) scale(1);
    }
  }

  @media screen and (max-width: $medium) {
    .lock_badge {
      padding-left: 10rem;
    }
  }

  .lock_badge_wrapper {
    margin-right: 2rem;
  }
}

.navbar {
  position: fixed;
  transition: all 0.73s ease;
}

.scrolled {
  .home_hero_blur {
    opacity: 0;
  }
  .home_hero_content {
    opacity: 0;
  }
  .home_hero_header {
    opacity: 0;
  }

  .navbar {
    background-color: var(--black);
  }
  @media screen and (min-width: $medium) {
    // navbar
    .navbar {
      transform: translateY(-8rem);
    }
  }
}

.scroll-down {
  .navbar {
    top: -100%;
  }
}
.scroll-up {
  .navbar {
    top: 0%;
  }
}
